<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscarCliente(termino.value)" class="form-control" placeholder="Buscar Cliente">
    </div>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Celular</th>
            <th scope="col">Fijo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes">
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.telefonoMovil}}</td>
            <td>{{cliente.telefonoFijo}}</td>
        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">


    <!--    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="first group">
            <button type="button" (click)="setPageF(-1,$event)" class="btn btn-secondary">Previous</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="second group">
            <button *ngFor="let item of pages; let i=index" (click)="setPage(i,$event)" type="button" class="btn btn-secondary">{{i+1}}</button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
            <button type="button" (click)="setPageF(+1,$event)" class="btn btn-secondary">Next</button>
        </div>
    </div> -->
    <!-- 
    <div class="pagination" role="toolbar" aria-label="Toolbar with button groups">

        <button type="button" (click)="setPageF(-1)" class="page-item btn btn-secondary">Previous</button>


        <button *ngFor="let item of pages; let i=index" (click)="setPage(i)" type="button" class="page-item btn btn-secondary">{{i+1}}</button>

        <div class="btn-group" role="group" aria-label="Third group">
            <button type="button" (click)="setPageF(+1)" class="btn btn-secondary">Next</button>
        </div>
    </div>


    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item ">
                <a class="page-link" href="/1" tabindex="-1">Previous</a>
            </li>

            <li class="page-item active" *ngFor="let item of pages; let i=index">
                <a class="page-link" href="clientes/{{i}}">{{i+1}}<span class="sr-only">(current)</span></a>
            </li>

            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav> -->
    <div class="row">
        <div class="col-xs-12 col-12">
            <pagination [boundaryLinks]="true" [(ngModel)]="currentPage" [itemsPerPage]="20" [totalItems]="total" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
    </div>



</nav>