.card-signin {
  border: 0;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(44,24,16,0.08), 0 2px 4px rgba(44,24,16,0.05);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: #1E293B;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 50rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}
