<div class="row">
  <div class="col">
      <input #termino type="text" (keyup.enter)="buscarLibros(termino.value)" class="form-control" placeholder="Buscar Libro por cualquier dato Titulo, Autor, ISBN, Tema">
  </div> 
  <button class="btn btn-primary btn-sm my-1" (click)="buscarLibros(termino.value)">Buscar</button>
</div>

<ng2-smart-table [settings]="settings" [source]="libros" 
                (createConfirm)="onCreateConfirm($event)"
                (deleteConfirm)="onDeleteConfirm($event)"  
                (editConfirm)="onEditConfirm($event)"
                (custom)="onCustom($event)"
                ></ng2-smart-table>