<div class="container" style="padding-top: 1rem;">
    <div class="section-title">
        <i class="fa fa-truck"></i>
        Pedidos a Distribuidora
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="width: 40px; text-align: center;">
                    <input type="checkbox" [(ngModel)]="allSelected" (change)="toggleSelectAll()">
                </th>
                <th scope="col" style="width: 40px;"></th>
                <th scope="col">Distribuidora</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Libro</th>
                <th scope="col">Autor</th>
                <th scope="col">Editorial</th>
                <th scope="col">ISBN</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pedidoItem of pedidoItems; let i = index" [class.row-selected]="selectedItems[i]">
                <td style="text-align: center;">
                    <input type="checkbox" [ngModel]="selectedItems[i]" (change)="toggleItem(i)">
                </td>
                <td>
                    <button title="Confirmar" [disabled]="!distribuidoraSeleccionada[i]" (click)="confirmarPedido(pedidoItem,i)" type="button" class="btn btn-icon">
                        <i class="fa fa-check"></i>
                    </button>
                </td>
                <td>
                    <div class="form-group" style="margin-bottom: 0;">
                        <ng-select [items]="distribuidoras"
                            (change)="onChange($event,i)"
                        ></ng-select>
                    </div>
                </td>
                <td>{{pedidoItem.cantidad}}</td>
                <td>{{pedidoItem.libro}}</td>
                <td>{{pedidoItem.autor}}</td>
                <td>{{pedidoItem.editorial}}</td>
                <td>{{pedidoItem.isbn}}</td>
                <td style="text-align: right;">${{pedidoItem.precio | number:'1.0':'es-AR'}}</td>
            </tr>
        </tbody>
    </table>

    <div class="floating-action-bar" *ngIf="getSelectedCount() > 0">
        <span class="fab-badge">{{getSelectedCount()}} item(s) seleccionados</span>
        <div class="fab-distribuidora">
            <ng-select [items]="distribuidoras"
                [(ngModel)]="bulkDistribuidora"
                placeholder="Distribuidora..."
            ></ng-select>
        </div>
        <button class="btn btn-action" [disabled]="!bulkDistribuidora" (click)="confirmarSeleccionados()">
            <i class="fa fa-check" style="margin-right: 0.375rem;"></i>Confirmar Seleccionados
        </button>
        <button class="btn btn-action-secondary" (click)="clearSelection()">
            Deseleccionar
        </button>
    </div>

    <div *ngIf="!loading && !error && pedidoItems?.length===0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading"><i class="fa fa-exclamation-triangle" style="margin-right: 0.375rem;"></i>No hay pedidos pendientes</h4>
    </div>

    <div *ngIf="loading" class="alert alert-info text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading"><i class="fa fa-spinner fa-spin" style="margin-right: 0.375rem;"></i>Cargando</h4>
        <p class="mb-0">
            Espere por favor
        </p>
    </div>

    <div *ngIf="error" class="alert alert-danger text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading"><i class="fa fa-times-circle" style="margin-right: 0.375rem;"></i>Error general</h4>
        <p class="mb-0">
            {{errMessage}}
        </p>
    </div>
</div>
