<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">  </th>
                <th scope="col">Distribuidora</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Libro</th>
                <th scope="col">Autor</th>
                <th scope="col">Editorial</th>
                <th scope="col">ISBN</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pedidoItem of pedidoItems; let i = index">
              <td>
                    <div class="col">
                        <div class="row">
                            <button title="Confirmar" [disabled]="!distribuidoraSeleccionada[i]"  (click)="confirmarPedido(pedidoItem,i) " type="button " class="btn btn-outline-info ">
                                  <i class="fa fa-check "></i>
                            </button>
                        </div>
                    </div>
                </td>
                <td>
                      <div id="clienteSelect" class="form-group" >
                          <ng-select [items]="distribuidoras"
                          (change)="onChange($event,i)"
                          ></ng-select>
                      </div>
               </td>
                <td>{{pedidoItem.cantidad}}</td>
                <td>{{pedidoItem.libro}}</td>
                <td>{{pedidoItem.autor}}</td>
                <td>{{pedidoItem.editorial}}</td>
                <td>{{pedidoItem.isbn}}</td>
                <td style="text-align: right;">${{pedidoItem.precio | number:'1.0':'es-AR'}}</td>
            </tr>
        </tbody>
      </table>

      <div *ngIf="!loading && !error && pedidoItems?.length===0 " class="alert alert-warning text-center mt-3 animated fadeIn faster ">
        <h4 class="alert-heading ">No hay pedidos pendientes</h4>
    </div>

    <div *ngIf="loading " class="alert alert-info text-center mt-3 animated fadeIn faster ">
        <h4 class="alert-heading ">Cargando</h4>
        <p>
            <i class="fa fa-sync-alt fa-spin fa-2x "></i>
        </p>
        <p class="mb-0 ">
            Espere por favor
        </p>
    </div>

    <div *ngIf="error " class="alert alert-danger text-center mt-3 animated fadeIn faster ">
        <h4 class="alert-heading ">Error general</h4>
        <p>
            <i class="fa fa-sync-alt fa-spin fa-2x "></i>
        </p>
        <p class="mb-0 ">
            {{errMessage}}
        </p>
    </div>
</div>

