<div class="section-title" style="margin-top: 1rem;">
    <i class="fa fa-shopping-bag"></i>
    Negocios de Consignacion
</div>
<div class="search-row">
    <div class="row align-items-center">
        <div class="col">
            <div style="position: relative;">
                <input #termino type="text" (keyup.enter)="buscarComercio(termino.value)" class="form-control"
                    placeholder="Buscar por nombre, direccion o contacto" style="padding-left: 2.25rem;">
                <i class="fa fa-search" style="position: absolute; left: 0.75rem; top: 50%; transform: translateY(-50%); color: #8C7A6A;"></i>
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-action btn-sm" [routerLink]="['/comercio','nuevo']">
                <i class="fa fa-plus" style="margin-right: 0.25rem;"></i> Nuevo Negocio
            </button>
        </div>
    </div>
</div>

<table class="table" style="margin-top: 1rem;">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Contacto</th>
            <th scope="col">Telefono</th>
            <th scope="col">CUIT</th>
            <th scope="col">Comision</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let comercio of comercios; let i = index">
            <td>{{comercio.descripcion}}</td>
            <td>{{comercio.direccion}}</td>
            <td>{{comercio.contacto}}</td>
            <td>{{comercio.telefono}}</td>
            <td>{{comercio.cuit}}</td>
            <td>
                <span *ngIf="comercio.comision">{{comercio.comision}}%</span>
                <span *ngIf="!comercio.comision" class="badge badge-warning" title="Paga el precio de tapa completo">
                    sin comision
                </span>
            </td>
            <td>
                <div class="table-actions">
                    <button title="Modificar" [routerLink]="['/comercio', comercio.id]" type="button" class="btn btn-icon">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button title="Eliminar" (click)="borrarComercio(comercio, i)" type="button" class="btn btn-icon btn-icon-danger">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="comercios?.length === 0" style="text-align: center; padding: 2rem 1rem; color: #8C7A6A;">
    <i class="fa fa-shopping-bag" style="font-size: 2rem; margin-bottom: 0.5rem; display: block; opacity: 0.4;"></i>
    No hay negocios cargados.
</div>
