<body>
	<div class="container">
	  <div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
		  <div class="card card-signin my-5">
			<div class="card-body">
			  <h5 class="card-title text-center">Nuevo cliente</h5>
           <form [formGroup]="forma" (ngSubmit)="onSubmit()"
                    #registroForm="ngForm"
                  class="form-signin">
            
             <div class="form-group" >
                    <input type="text" 
                            class="form-control"
                            placeholder="Nombre"  
                            formControlName="nombre"
                            [ngClass]="{ 'is-invalid': !forma.controls['nombre'].valid && forma.controls['nombre'].touched }"
                            >

                    <div *ngIf="forma.get('nombre').errors?.required && forma.controls['nombre'].touched"
                            class="small" style="color:red;" >
                          El nombre es necesario.
                      </div>
                      <div *ngIf="forma.get('nombre').errors?.minlength && forma.controls['nombre'].touched"
                            class="small" style="color:red;">
                          Por lo menos 3 caracteres.
                      </div>
             </div>

             <div class="form-group" >
              <input type="text" 
                      class="form-control"
                      placeholder="Direccion"  
                      formControlName="direccion"
                      [ngClass]="{ 'is-invalid': !forma.controls['direccion'].valid && forma.controls['direccion'].touched }"
                      >
                </div>

            <div class="form-group">
				        <input type="text" 
						            class="form-control "
						            placeholder="Email"  
                        formControlName="email"
                        [ngClass]="{ 'is-invalid': !forma.controls['email'].valid && forma.controls['email'].touched }">
                    <div *ngIf="forma.get('email').errors?.required && forma.controls['email'].touched"
                          class="small" style="color:red;" >
                        El email es necesario.
                    </div>
                    <div *ngIf="forma.get('email').errors?.pattern && forma.controls['email'].touched"
                          class="small" style="color:red;">
                        Ingrese un email valido.
                    </div>  
                    
                    <div *ngIf="forma.controls['email'].errors?.existe && forma.controls['email'].touched " class="small" style="color:red;">
                        EL email ya está registrado
                      </div>
                      <div *ngIf="forma.controls['email'].pending && forma.controls['email'].touched" class="small" style="color:red;">
                        Verificando el email...
                      </div>
                </div>

                <div class="form-group" >
                  <div *ngIf="forma.get('telefonoMovil').errors?.required && forma.controls['telefonoMovil'].touched"
                        class="small" style="color:red;" >
                    El celular es necesario.
                  </div>
                  <div *ngIf="(forma.get('telefonoMovil').errors?.maxlength || forma.get('telefonoMovil').errors?.minlength) && forma.controls['telefonoMovil'].touched"
                        class="small" style="color:red;" >
                        El celular debe tener 10 numeros.
                  </div>
                  <div *ngIf="forma.get('telefonoMovil').pattern && forma.controls['telefonoMovil'].touched"
                      class="small" style="color:red;" >
                      El celular debe tener solo numeros.
                   </div>
                  <input type="text" 
                          class="form-control"
                          placeholder="Celular"  
                          formControlName="telefonoMovil"
                          [ngClass]="{ 'is-invalid': !forma.controls['telefonoMovil'].valid && forma.controls['telefonoMovil'].touched }"
                          >
                          <div class="small" style="color:blue;">
                            Ingrese el numero sin 0 ni 15 ni guiones ejemplo 3446123456
                          </div>                          
                  </div>    

                  <div class="form-group" >
                    <input type="text" 
                            class="form-control"
                            placeholder="Telefono fijo"  
                            formControlName="telefonoFijo"
                            [ngClass]="{ 'is-invalid': !forma.controls['telefonoFijo'].valid && forma.controls['telefonoFijo'].touched }"
                            >  
                        
                      <div *ngIf="(forma.get('telefonoFijo').errors?.maxlength || forma.get('telefonoFijo').errors?.minlength) && forma.controls['telefonoMovil'].touched"
                            class="small" style="color:red;" >
                            El telefono debe tener 10 numeros.
                      </div> 
                      <div *ngIf="forma.get('telefonoFijo').errors?.pattern && forma.controls['telefonoFijo'].touched"
                          class="small" style="color:red;" >
                          El telefono debe tener solo numeros.
                      </div>     
                    </div>      
				
			
        <div class="alert alert-info" role="alert">
          <strong>Estado </strong> {{ this.forma.pristine }}
      </div>

        <div class="row">
          <div class="col-6">
            <button class="btn btn-lg btn-primary btn-block"  type="submit">Guardar</button>
          </div>
          <div class="col-6">
              <button class="btn btn-lg btn-danger btn-block">Cancelar</button>
          </div>
        </div>

      </form>

      
    </div>
    
    </div>
      
    </div>
    
    </div>
    
	</div>
  </body>