<table>
  <thead><tr><td>
    <div class="header-space">&nbsp;</div>
  </td></tr></thead>
  <tbody><tr><td>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </td></tr></tbody>
  <tfoot><tr><td>
    <div class="footer-space">&nbsp;</div>
  </td></tr></tfoot>
</table>

<div class="header">
<div class="container" > 
  <div  style="text-align: center; font-weight: bold; font-size: large; "> <h4>	NOTA DE PEDIDO</h4></div>
  <h4>Libros Mario Gualeguaychú</h4> 
  <h6>3 de Caballeria 761 - Gualeguaychu</h6> 
  <h6>Telefono: 425900</h6> 
  <br>
</div>

  

</div>
<div class="footer"> <h4> ESTA NOTA DE PEDIDO ES REQUISITO INDISPENSABLE PARA RETIRAR LOS LIBROS </h4> 
  <h4> LOS PRECIOS DE LOS TEXTOS ESCOLARES SON EN EFECTIVO </h4>
</div>