<table>
  <thead><tr><td>
    <div class="header-space">&nbsp;</div>
  </td></tr></thead>
  <tbody><tr><td>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </td></tr></tbody>
  <tfoot><tr><td>
    <div class="footer-space">&nbsp;</div>
  </td></tr></tfoot>
</table>

<div class="header">
  <div class="header-title">{{ isRemito ? 'REMITO' : 'NOTA DE PEDIDO' }}</div>
  <div class="header-info">
    <img [src]="logoUrl" alt="Logo" class="header-logo" [hidden]="!showLogo" (error)="onLogoError()">
    <div>
      <div class="header-nombre">{{ nombre }}</div>
      <div *ngIf="direccion" class="header-detail">{{ direccion }}</div>
      <div *ngIf="telefono" class="header-detail">{{ telefono }}</div>
    </div>
  </div>
  <hr class="header-hr">
</div>
<div class="footer" *ngIf="!isRemito"> <h4> ESTA NOTA DE PEDIDO ES REQUISITO INDISPENSABLE PARA RETIRAR LOS LIBROS </h4>
  <h4> LOS PRECIOS DE LOS TEXTOS ESCOLARES SON EN EFECTIVO </h4>
</div>