.header, .header-space, .footer, .footer-space { height: 180px; }
.header { position: fixed; top: 0; left: 10mm; right: 10mm; padding-top: 60px; }
.footer { position: relative; bottom: 0; }

.header-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
}

.header-info {
  display: flex;
  align-items: center;
}

.header-logo {
  max-height: 50px;
  margin-right: 0.5rem;
}

.header-nombre {
  font-weight: bold;
  font-size: 1rem;
}

.header-detail {
  font-size: 0.8rem;
  color: #333;
}

.header-hr {
  margin-top: 0.25rem;
  margin-bottom: 0;
}

@media screen {
  :host {
    display: none;
  }
}
